/*-----------------------------------------------------------------------------
keepsimple by lgaggini. Template Style Sheet based on 
Slate by Sam Brown (http://www.massiveblue.com/templates/slate/)

version:   1.0
author:    Lorenzo Gaggini - lgaggini (Sam Brown)
email:     lorenzo@keepsimple.it (sam@massiveblue.com)
website:   http://lgaggini.net - http://www.keepsimple.it (http://www.massiveblue.com) 
-----------------------------------------------------------------------------*/

/* =Global Reset
-----------------------------------------------------------------------------*/
* {font-size: 100.01%; margin: 0; padding: 0;}
html {font-size: 62.5%;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: 1em 0;
}

/* =Base Elements
---------------------------------------------------------------------- */
a, a:link, a:active, a:visited {color: #5798AE; text-decoration: none;}
a:hover {color: #5798AE; text-decoration: underline;}
abbr, acronym {font-style: normal; border-bottom: dotted 1px #666; cursor: help;}
blockquote {}
body {
	background: #1b1b1b url("images/bg.gif") top center repeat-y;
	color: #eee;
	font: 1.25em/1.75em "Lucida Grande", Verdana, Helvetica, sans-serif;
}
code, var, kbd {color: #5798AE; font-family: monaco, courier, monospace; font-size: 1em;}
form {margin: 0;}
h1 {display: none;}
h2 {color: #5798AE; font: normal 2em/1em Helvetica, Arial, sans-serif; margin: 0; margin-bottom: -.5em; text-shadow: 2px 2px #000;}
h3 {color: #999; font: normal 1.75em/1em Helvetica, Arial, sans-serif; margin-bottom: 0; text-shadow: 2px 2px #000;}
h4 {color: #999; font: normal 1.5em/1em Helvetica, Arial, sans-serif; margin-bottom: 0; text-shadow: 2px 2px #000;}
hr {border: none; height: 2px; background: #111; margin: 1.5em 0;}
img {border: 0;}
ul, ol {margin-left: 21px;}

/* =Structure
---------------------------------------------------------------------- */
#wrap 		{margin: 0 auto; width: 750px;}
#masthead 	{margin: 10px auto; width: 730px;}
#content-wrap {background: #1a1a1a; margin: 0 auto; padding: 0 10px; width: 710px;}
#content 	{float: left; width: 470px; padding: 10px;}
#sidebar 	{float: right; padding: 10px; width: 180px;}
#footer		{}

/* =Wrap
---------------------------------------------------------------------- */
#wrap {}

/* =Masthead
---------------------------------------------------------------------- */
#masthead {}

#logo {float: left;}

#nav a, #nav a:link, #nav a:visited, #nav a:active {color: #999; text-decoration: none;}
#nav a:hover {color: #fff; text-decoration: none;}
ul#nav {list-style: none; margin-top: 1em; float: right;}
ul#nav li {display: inline; padding-left: 1em;}
ul#nav #on a {color: #fff;} 

#search {float: right; height: 30px; width: 200px; text-align: right; /*border: 1px solid #f00;*/}
#search #searchinputbox {
	background: #1b1b1b;
	border: none;
	color: #8d8d8d;
	font-weight: bold;
	padding: 5px;
	margin-top: 3px;
	text-align: right;
	width: 150px;
}

#pagination {color: #555; float: left; font-weight: bold; height: 30px; line-height: 30px; width: 490px; /*border: 1px solid #ff0;*/}
#pagination a, #pagination a:link, #pagination a:visited, #pagination a:active {color: #8d8d8d; text-decoration: none;}
#pagination a:hover {color: #fff; text-decoration: none;}
#pagination p {margin: 0;}

/* =Content
---------------------------------------------------------------------- */
#content {
	/*border: 1px solid #f0f;*/
        border-top: 5px solid #111;
	padding-top: 10px;
}

h2 a, h2 a:link, h2 a:visited, h2 a:active, h2 a:hover {color: #5798AE; text-decoration: none;}
h5 a, h5 a:link, h5 a:visited, h5 a:active {color: #5798AE; text-decoration: none;}
h5 a:hover {color: #5798AE; text-decoration: underline;}

.date {
       text-align: right;
       color: #999;  
}

/* =Comments */
.comments_error {background: #222; color: #f00;}

#comment h3 {color: #999; font: normal 1.75em/1em "Lucida Grande", Verdana, Helvetica, sans-serif; margin: 0; text-shadow: 2px 2px #000;}

#comment fieldset {
	border: 1px solid #111;
	padding: 0 1em .5em;
}
.odd, .even {
	margin: 1.5em 0;
	padding: .5em 1em 0;
}
.odd fieldset {background: #222;}
#comment-form #name, #comment-form #email, #comment-form #web, #comment-form #message {
	font-family: Verdana, sans-serif;
	font-size: 1em;
	width: 100%;
}
#comment-form {
	background: #222;
	border: 1px solid #111;
	margin-top: 1.5em;
	padding: 0 1em;
}

/* =Sidebar
---------------------------------------------------------------------- */
#sidebar {
	/*border: 1px solid #f90;*/
	border-top: 5px solid #111;
	text-align: right;
}

#sidebar a, #sidebar a:link, #sidebar a:visited, #sidebar a:active {color: #5798AE; text-decoration: none;}
#sidebar a:hover {color: #5798AE; text-decoration: underline;}

#sidebar h3 {color: #999; font: bold 1.1em/1em "Lucida Grande", Verdana, Helvetica, sans-serif; margin: 0; text-shadow: 2px 2px #000;}
#sidebar ul {list-style: none; padding-bottom: 1em;}
#sidebar p {color: #666; padding-bottom: 1em;}

/* =Footer
---------------------------------------------------------------------- */
#footer {
	background: #141414 url("images/bg-footer.gif") top left repeat;
	margin-top: 1em;
	padding: 1px;
	text-align: center;
        font-size: 0.9em; 
}




/* =Other
-----------------------------------------------------------------------------*/
.clear {clear:both;}
#accessability {display: none;}
